services:
  minio:
    image: minio/minio
    container_name: minio
    ports:
      - '9000:9000'
      - '9001:9001'
    networks:
      default:
        aliases:
          - warehouse--table-s3.minio
    healthcheck:
      test: timeout 5s bash -c ':> /dev/tcp/127.0.0.1/9000' || exit 1
      interval: 5s
      timeout: 20s
      retries: 10
    environment:
      MINIO_ROOT_USER: supa-storage
      MINIO_ROOT_PASSWORD: secret1234
      MINIO_DOMAIN: minio
    command: server --console-address ":9001" /data
    volumes:
      - minio-data:/data

  minio-setup:
    image: minio/mc
    container_name: minio-setup
    depends_on:
      minio:
        condition: service_healthy
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set supa-minio http://minio:9000 supa-storage secret1234;
      /usr/bin/mc mb supa-minio/warehouse--table-s3;
      /usr/bin/mc policy set public supa-minio/warehouse--table-s3;
      exit 0;
      "

  iceberg-rest:
    image: tabulario/iceberg-rest
    container_name: iceberg-rest
    depends_on:
      - minio-setup
    ports:
      - 8181:8181
    environment:
      - AWS_ACCESS_KEY_ID=supa-storage
      - AWS_SECRET_ACCESS_KEY=secret1234
      - AWS_REGION=us-east-1
      - CATALOG_WAREHOUSE=s3://warehouse--table-s3/
      - CATALOG_IO__IMPL=org.apache.iceberg.aws.s3.S3FileIO
      - CATALOG_S3_ENDPOINT=http://minio:9000

volumes:
  minio-data:
